
<div class="flex-container-split-screen">


    <div class="exp-container left-half">
      <header>
        <button 
          [routerLink]="['/home']" 
          class = "button-go-to-home">
        </button>
        <h1>განათლება</h1>
        <hr>
      </header>


      <main>
      </main>


  
      <footer>
        <button class = "back" [routerLink]="['/exp-info']">უკან</button>
        <br>
        <button  class = "next" [routerLink]="['/final']">შემდეგი</button>
      </footer>
    
    
    
      <br>
    
    
    </div>
    
    
    
    <div class="exp-preview right-half"></div>
    
    
    
    </div>
    


