

<div class="flex-container-split-screen">


<div class="exp-container left-half">
  <header>
    <button 
      [routerLink]="['/home']" 
      class = "button-go-to-home">
    </button>
    <h1>გამოცდილება</h1>
    <hr>
  </header>
  
  
  <main>
  </main>
  
  
  
  <footer>
    <button class = "back" [routerLink]="['/private-info']">უკან</button>
    <br>
    <button  class = "next" [routerLink]="['/edu-info']">შემდეგი</button>
  </footer>


  <br>


</div>



<div class="exp-preview right-half"></div>



</div>
