<div class = "container">
<div class="container-private">
      <header>
            <button class='go-back-button'[routerLink]="['/home']"><img src = '../../assets/private-assets/Vector.png'></button>
            <h1>პირადი ინფო</h1>
            <hr>
      </header>
<br>
 

      <form  #form="ngForm">
            <div class="form-name">
                  <label for="firstName" class = 'input-text-styles' >სახელი</label>
                  <div class="input-flex-container">
                  <input 
                    required 
                    minlength="2" 
                    pattern="[ა-ჰ]+"  
                    ngModel 
                    name="firstName"  
                    #firstName="ngModel" 
                    [(ngModel)]="user.name"
                    id="firstName"
                    type="text" 
                    class="form-control name-input-style" />  
                    <img 
                    src="../../assets/private-assets/warning.png" 
                    class="warning-image" 
                    *ngIf="firstName.touched && !firstName.valid"
                /> 
            </div>
                  <div class = "form-control"                                                                                                                                                                                                                                                                                                                                       
                   *ngIf = "firstName.touched  && !firstName.valid">
                        <div *ngIf = "firstName.errors.required" class = 'validation-msg-fonts'>
                              სავალდებულო
                        </div>
                        <div *ngIf = "firstName.errors.minlength" class = 'validation-msg-fonts'>
                              მინიმუმ {{firstName.errors.minlength.requiredLength}} ასო
                        </div>
                        <div *ngIf = "firstName.errors.pattern" class = 'validation-msg-fonts'>
                              მხოლოდ ქართული ასოები
                        </div>
                  </div>
            </div>

            <div class="form-surname">
                  <label for="lastName" class="input-text-styles">გვარი</label>
                  <div class = "input-flex-container">
                  <input
                    required
                    minlength="2"
                    pattern="[ა-ჰ]+"
                    ngModel
                    name = "lastName"
                    #lastName="ngModel"
                    [(ngModel)]="user.surname"
                    id = "lastName"
                    type = "text"
                    class = "form-control name-input-style" />
                    <img 
                    src="../../assets/private-assets/warning.png" 
                    class="warning-image" 
                    *ngIf="lastName.touched && !lastName.valid"
                />
            </div>
                    <div class = "form-control"                                                                                                                                                                                                                                                                                                                                        
                    *ngIf = "lastName.touched  && !lastName.valid" >
                         <div *ngIf = "lastName.errors.required" class = 'validation-msg-fonts'>
                               სავალდებულო
                         </div>
                         <div *ngIf = "lastName.errors.minlength" class = 'validation-msg-fonts'>
                               მინიმუმ {{lastName.errors.minlength.requiredLength}} ასო
                         </div>
                         <div *ngIf = "lastName.errors.pattern" class = 'validation-msg-fonts'>
                               მხოლოდ ქართული ასოები
                         </div>
                   </div>

            </div>
  



            
            <div class = 'file-upload'>
                  <label class = 'file-input'for="fileInput">პირადი ფოტოს ატვირთვა</label>
                  <input 
                  type="file" 
                  class="form-control-file" 
                  id="fileInput" 
                  class = 'custom-file-input'
                  required
                  [(ngModel)]="user.image"
                  [(ngModel)]="fileUpload"
                  name="fileUpload"
                  (change)="uploadFile()"
                  (change)="fileSelected($event)"  />
                  
                  <div *ngIf="showMessage" class = 'validation-msg-fonts'>{{ message }}</div>
                    

            </div>

       
            
            <div class="form-aboutMe">
                  <label class="input-text-styles"  file-inputfor="details">ჩემ შესახებ (არასავალდებულო)</label>
                  <textarea 
                  ngModel 
                  name="details" 
                  id="details" 
                  #details = "ngModel"
                  [(ngModel)]="user.about_me"
                  cols="30" rows="10" 
                  class="form-control area-style"
                  placeholder="ზოგადი ინფო შენ შესახ"></textarea>
            </div>


            <div class="form-email" >
                  <label for = "email" class = 'input-text-styles'>ელ.ფოსტა</label>
                  <div class="input-flex-container">
                        <input 
                            type="email" 
                            id="email" 
                            required
                            pattern="^[a-zA-Z0-9._%+-]+@redberry.ge$" 
                            ngModel
                            name = "email"
                            #emails="ngModel" 
                            [(ngModel)]="user.email"
                            class = "form-control email-input-style"
                        />
                        <img 
                            src="../../assets/private-assets/warning.png" 
                            class="warning-image" 
                            *ngIf="emails.touched && !emails.valid"
                        />
                      </div>
                  <div class = "form-control"                                                                                                                                                                                                                                                                                                                                       
                  *ngIf = "emails.touched  && !emails.valid">
                       <div *ngIf = "emails.errors.required" class = 'validation-msg-fonts'>
                             სავალდებულო
                       </div>
                       <div *ngIf = "emails.errors.pattern" class = 'validation-msg-fonts'>
                              უნდა მთავრდებოდეს @redberry.ge-ით
                       </div>
                 </div>

            </div>

            <div class="form-phone-number">
                  <label for="number" class = 'input-text-styles'>მობილურის ნომერი</label>
                  <div class = "input-flex-container">
                  <input 
                  type="tel"
                  id="phone-num"
                  required
                  pattern="^\+995\s5\d{2}\s\d{2}\s\d{2}\s\d{2}$" 
                  ngModel
                  name = "number"
                  #phone = "ngModel"
                  [(ngModel)]="user.phone_number"
                  class = "form-control email-input-style"/>
                  <img 
                  src="../../assets/private-assets/warning.png" 
                  class="warning-image" 
                  *ngIf="phone.touched && !phone.valid"
              />
            </div>
            
            <div class = "form-control"                                                                                                                                                                                                                                                                                                                                       
                  *ngIf = "phone.touched  && !phone.valid">
                       <div *ngIf = "phone.errors.required" class = 'validation-msg-fonts'>
                             სავალდებულო
                       </div>
                       <div *ngIf = "phone.errors.pattern" class = 'validation-msg-fonts'>
                              უნდა აკმაყოფილებდეს ქართული მობილური ნომრის ფორმატს (+995 5** ** ** **)
                       </div>
                 </div>
                  
            </div>

            
            <button type="submit"  class="next" [disabled]="!form.valid" (click)="submitForm()"><p>შემდეგი</p></button>
            <!-- [routerLink]="['/exp-info']" -->
      </form>




</div>

<div class="resume">
 
      <img src ='../../assets/resume-assets/logo.png' class = "circle">
      
      <img [src]="imageUrl" *ngIf="imageUrl" class = "profile-picture-position"/>


      <h1 class = "resume-name-surname">{{user.name}} &nbsp; {{user.surname}}</h1>
      <div class = "resume-email-div">
            <img *ngIf="emails.touched"src = "../../assets/resume-assets/email.png">
            <p class = "resume-email">&nbsp;&nbsp;{{user.email}}</p>
      </div>
      <div class = "resume-phone-div">
            <img *ngIf="phone.touched"src = "../../assets/resume-assets/phone.png">
            <p class = "resume-email">&nbsp;&nbsp;{{user.phone_number}}</p>
      </div>

      <div class = "aboutMe" *ngIf="details.dirty">
            <p class = "about_me-p">ჩემ შესახებ</p>
            <p class = "about-me-p-text">{{user.about_me}}</p>
      </div>

      
</div>

</div>